<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>파일 업로드 결과</h1>
    <hr />
    <p>원본 파일명: <%= result.originalname%>
            -> 저장 파일명: <%= result.filename%>
    </p>
    <p>MIME TYPE: <%= result.mimtype%>
    </p>
    <p>파일 크기: <%= result.size%>
    </p>
    <p>작성자: <%= result.writer%>
    </p>
    <p>설명: <%= result.comment %>
    </p>
    <p><img src="../uploads/<%= result.filename %>" alt="사진"></p>

</body>

</html>